@import '../../App.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .title {
    display: flex;
    align-items: center;
    color: $clr-white;

    .logo {
      font-size: 2rem;
      width: 5rem;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;

    .searchBar {
      height: 2rem;
      padding: 0.25rem;
      width: 100%;
      z-index: 1;
    }

    button {
      border: none;
      background-color: transparent;

      .ball {
        color: $clr-white;
        font-size: 2rem;
        width: 2rem;
      }
    }
  }
}
