@import '../../App.scss';

.container {
  text-align: center;
}

.guessBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 215px;
  border: 1px solid grey;
  color: $clr-white;
  position: relative;
  cursor: pointer;

  .guessOval {
    background-color: $clr-white;
    border-radius: 50%;
    padding: 1rem;

    h1 {
      font-size: 1.25rem;
      position: absolute;
      top: 0;
      left: 0;
      color: $clr-white;
      border: 1px solid $clr-white;
      border-radius: 50%;
      padding: 0.25rem;
    }

    .hide {
      width: 100px;
      filter: grayscale(10%);
      filter: brightness(0%);
    }

    .reveal {
      width: 100px;
    }
  }

  .subtitle {
    color: $clr-yellow-gold;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .guessBox {
    padding: 0 4rem;

    .guessOval {
      padding: 2rem;
    }

    .subtitle {
      margin-left: 1rem;
      font-size: 2.5rem;
      text-decoration: none;
      text-align: center;
    }
  }
}
