
@import '../../App.scss';

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 150px;
  height: 215px;
  border: 1px solid grey;
  color: $clr-white;
  position: relative;
  cursor: pointer;

  h1 {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    color: $clr-white;
    border: 1px solid $clr-white;
    border-radius: 50%;
    padding: 0.25rem;
  }

  h2 {
    color: $clr-white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  img {
    width: 100px;
    // filter: grayscale(10%);
    // filter: brightness(0%);
    // filter: contrast(0%);
  }
}

.box:last-of-type {
  width: 150px;
}
